body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    margin-bottom: 100px;
}

h1{
    font-size: 2.8rem;
}

h1 .dd{
    color: #ffa500;
}

#welcome{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/Media/top-banner.png);
    background-repeat: no-repeat;
}

.wel-text,.my-pic,.dream-text{
    width: 50%;
    padding-left: 7%;
}

.my-pic img{
    width: 90%;
}

.hire-btn,.resume-btn{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(to right,#ff926e,#ff6649);
    padding: 10px 40px;
    border-radius: 5px;
    display: inline-block;
}

#dream-big{
    display: flex;
    background-image: url(/Media/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-text{
    padding-right: 6%;
}
.dream-text p{
    color: rgb(100, 100, 100);
    margin-bottom: 15px;
}